.bgimage{
    background-image: url(./img/landingpage.jpg)
}
/* .bgthread{
    
     height : 650px;
} */
#content{
     height : 300px;
     width : 400px;
     background-color : rgba(0,0,0,0.7);
     

}
